In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid= {'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
             'splitter':['best', 'random'],
             'max_features':['sqrt','log2']}
grid= GridSearchCV (DecisionTreeRegressor(), param_grid, refit=True, verbose=0, n_jobs=1)
grid.fit(independent,dependent)

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']})

In [9]:
re=grid.cv_results_
print("the best r2 value is:{}".format(grid.best_params_))

the best r2 value is:{'criterion': 'absolute_error', 'max_features': 'log2', 'splitter': 'best'}

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003125,6.250191e-03,0.000000,0.000000,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.629023,0.568218,0.725664,0.732292,0.666524,0.664344,0.061432,6
1,0.003125,6.249237e-03,0.003125,0.006250,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.678119,0.601763,0.705794,0.653011,0.662996,0.660337,0.034276,7
2,0.006250,7.654597e-03,0.000000,0.000000,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.729660,0.636588,0.737934,0.660049,0.703310,0.693508,0.039335,3
3,0.000000,0.000000e+00,0.006250,0.007655,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.680326,0.490744,0.713846,0.669746,0.658971,0.642727,0.078185,10
4,0.006249,7.654013e-03,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.722621,0.565462,0.640308,0.719239,0.740434,0.677613,0.065840,4
5,0.006250,7.654305e-03,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.672337,0.594154,0.733787,0.657527,0.631644,0.657890,0.046304,8
6,0.003125,6.250000e-03,0.003125,0.006250,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.735364,0.645279,0.678098,0.716975,0.577788,0.670701,0.055958,5
7,0.003125,6.249905e-03,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.626070,0.500654,0.703875,0.677462,0.643394,0.630291,0.070193,13
8,0.015626,1.994753e-06,0.003125,0.006249,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.676749,0.646014,0.725008,0.714364,0.729941,0.698415,0.032158,2
9,0.015625,3.989506e-07,0.000000,0.000000,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.686857,0.518719,0.643910,0.729314,0.653868,0.646534,0.070535,9
10,0.025030,7.668061e-03,0.000000,0.000000,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.692117,0.642347,0.685836,0.731835,0.743129,0.699053,0.035932,1
11,0.015628,3.923060e-04,0.000000,0.000000,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.598138,0.635693,0.607252,0.702256,0.628635,0.634395,0.036583,12
12,0.009656,3.672962e-03,0.001595,0.003190,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.625027,0.598434,0.683534,0.624444,0.550613,0.616410,0.043120,14
13,0.003126,6.251049e-03,0.003125,0.006250,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.555280,0.484880,0.658050,0.593231,0.607468,0.579782,0.057758,16
14,0.003124,6.248188e-03,0.003125,0.006250,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.634076,0.437178,0.589949,0.678555,0.642563,0.596465,0.084490,15
15,0.006251,7.655882e-03,0.000000,0.000000,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.724014,0.512048,0.610259,0.683709,0.679750,0.641956,0.074547,11

In [12]:
import pickle
filename="finalized_model_DT.sav"
pickle.dump(grid,open(filename,'wb'))
loaded_model=pickle.load(open("finalized_model_DT.sav",'rb'))
result=loaded_model.predict([[33,22,3,1,0]])

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [13]:
result

array([5926.846])